*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
    background-color: aliceblue;
}
header h1{
    margin-top: 100px;
}
.visuals {
    text-align: center;
}

.visuals h1{
    margin-bottom: 50px;
}

.piano-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.keys{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    margin-bottom: 150px;
}

/* .keys > div {
    height: 300px;
    width: 100px;
    flex: 1;
    border: 5px solid black;
} */

.key1, .key3, .key5, .key6, .key8, .key10, .key12 {
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
    height: 300px;
    width: 100px;
}

.key2, .key4, .key7, .key9, .key11 {
    background-color: black;
    border-radius: 5px;
    border: solid black;
    height: 150px;
    width: 50px;
    margin-left: -30px;
    margin-right: -30px;
    z-index: 2;
}

.key.black.active{
    background-color: #333;
}
.key.white.active{
    background-color: #CCC;
}